.navclass {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
}

.dp {
  background-color: #0ca87b;
  border: none;
  color: white;
  margin-top: 10px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
}

.rocket {
  color: #0ca87b;
  width: 200px;
  height: 200px;
}

.dp:hover {
  background-color: white;
  color: black;
  border: 2px solid #0ca87b;
}

.abc1 {
  border-radius: 20px;
  border: 2px solid black;
}

.logo1 {
  width: 40px;
  height: 50px;
  margin-right: 2px;
  padding-bottom: 5px;
}

.logon {
  width: 100px;
  height: 100px;
  margin-right: 2px;
  padding-bottom: 5px;
}
.abc1:hover {
  transform: scale(1.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.contact-form {
  padding-top: 15%;
}

.scroll-circle {
  width: 40px;
  height: 40px;
  margin-left: 1280px;
  background: #0ca87b;
  box-shadow: 0 10px 20px rgb(0 0 0 / 19%);
  border-radius: 50%;
  cursor: pointer;
}

.scroll-top {
  position: fixed;
  right: 50px;
  bottom: 30px;
  text-align: center;
  opacity: 1;
  z-index: 100;
  transition: opacity .5s ease;
}

.scroll_text {
  text-align: right;
}

.logo {
  border-radius: 100%;
}

.contact2 {
  margin-left: 250px;
  color: #0ca87b;
  font-size: 3.5rem;
}

.first {
  text-align: justify;
  color: black;
  font-size: 1.9rem;
}

.first-1 {
  text-align: right;
  color: black;
  font-size: 2rem;
  font-weight: bold;
}

.form-3 {
  text-align: left;
}

.abc {
  color: #3a4be0;
  font-weight: bold;
}

.first-2 {
  text-align: justify;
  color: black;
  font-size: 4rem;
  font-weight: bold;
}

#form {
  padding-left: 5%;
}

.message {
  padding: 1% 12% 15%;
}

.form-1 {
  padding: 5% 8% 15%;
}

.btn {
  background-color: #0ca87b;
  color: #fff;
}

.btn:hover {
  background-color: #87edcf;
}

.message-form {
  background-image: linear-gradient(#87edcf, white);
}

.test-image {
  background: #000000;
  background: rgba(0, 0, 0, 0.2);
}

.carousel-inner {
  height: 750px;
  background: #000000;
  background: rgba(0, 0, 0, 0.2);
}

.form-2 {
  margin-left: 20px;
  margin-right: 25px;
}


.cta {
  text-align: center;
  font-size: 3.5rem;
  padding: 10% 12% 15%;
background-image: linear-gradient(white,#87edcf, white);
}

.back {
  background-color: #87edcf;
  margin-bottom: 0;
}

.contact {
  color: #0ca87b;
  padding-top: 8%;

  margin-left: 100px;
  font-size: 3.5rem;
}
.contact1 {
  color:  #1f5427;
  position: absolute;
  padding-top: 1%;
  margin-left: 40px;
  font-size: 3.5rem;
}

.para {
  font-size: 15px;
  line-height: 1;
}

.para1 {
  font-size: 15px;
  line-height: 1;
  padding-top: 2%;
}

#about {
  margin-top: 5%;
  padding: 7% 12% 15%;
  background-color: white;
}

#about2 {
  margin-top: 5%;
  padding: 10% 12% 15%;
  background-color: white;
}
video[poster]{
  width: 100%;
}
.des{
  font-size:1.3rem;
  font-family: 'Lato', sans-serif;
font-family: 'Luckiest Guy', cursive;
font-family: 'Merriweather', serif;
font-family: 'Recursive', sans-serif;
font-family: 'Rowdies', cursive;
font-family: 'Ubuntu', sans-serif;
}

#about1 {
  margin-top: 0 ;
  padding: 7% 5% 5%;
    background-image: linear-gradient(white,#87edcf, white);
}

/* .footer{
  text-align: center;
  padding-top: 3%;
  position: fixed;
  bottom:0;
  margin-left: 45%;


} */

.footer {
    text-align: center;
    padding-top: 3%;
    position: relative;
    bottom:0;
    margin-left: 0;

}

.footer-image {
    margin-right: 10px;
}

.last:hover{
color:red;
}
.footer-image{
margin : 5px 15px;
}
.face:hover{
color:#3d799c;
}
.in:hover{
color: #f21f82;
}
.tw:hover{
color: #229ff2;
}
.mail:hover{
color: red;
}

.introduction  {
position: fixed;
z-index: 0;
left: 0;
top: 0;
width: 100%;
height: 100vh;
background-color: black;
transition: 3s;
}
.log-header{
position: absolute;
top: 40%;
left: 50%;
transform: translate(-50%,-50%);
font-size: 3rem;

}
.log{
position: relative;
display: inline-block;
bottom: -20px;
opacity: 0;
}
.log.active{
bottom: 0;
opacity: 1;
transition: ease-in-out 0.5s;
}
.log.fade{
bottom:150px;
opacity: 0;
transition: ease-in-out 0.5s;

}





.reveal{
  position: relative;
  transition: ease-out ;
  transition-delay: 1.5s;
  transition-duration: 15s;
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(0);
  transform-origin: 0%;
  opacity: 1;
}



/* .about-para{
padding-left: 10%;
padding-right: 10%;
} */
