.navclass {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
}
body{
    background-image: linear-gradient(#87edcf, white);
}

.dp {
  background-color: #0ca87b;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
}

.rocket {
  color: #0ca87b;
  width: 200px;
  height: 200px;
}

.dp:hover {
  background-color: white;
  color: black;
  border: 2px solid #0ca87b;
}

.abc1 {
  border-radius: 20px;
  border: 2px solid black;
}

.logo1 {
  width: 40px;
  height: 50px;
  margin-right: 2px;
  padding-bottom: 5px;
}

.logon {
  width: 100px;
  height: 100px;
  margin-right: 2px;
  padding-bottom: 5px;
}
.abc1:hover {
  transform: scale(1.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.contact-form {
  padding-top: 15%;
}

.scroll-circle {
  width: 40px;
  height: 40px;
  margin-left: 1280px;
  background: #0ca87b;
  box-shadow: 0 10px 20px rgb(0 0 0 / 19%);
  border-radius: 50%;
  cursor: pointer;
}

.scroll-top {
  position: fixed;
  right: 50px;
  bottom: 30px;
  text-align: center;
  opacity: 1;
  z-index: 100;
  transition: opacity .5s ease;
}

.scroll_text {
  text-align: right;
}

.logo {
  border-radius: 100%;
}

.contact2 {
  margin-left: 250px;
  color: #0ca87b;
  font-size: 3.5rem;
}

.first {
  text-align: justify;
  color: black;
  font-size: 1.9rem;
}

.first-1 {
  text-align: right;
  color: black;
  font-size: 2rem;
  font-weight: bold;
}

.form-3 {
  text-align: left;
}

.abc {
  color: #3a4be0;
  font-weight: bold;
}

.first-2 {
  text-align: justify;
  color: black;
  font-size: 4rem;
  font-weight: bold;
}

#form {
  padding-left: 5%;
}

.message {
  padding: 1% 12% 15%;
}

.form-1 {
  padding: 5% 8% 15%;
}

.btn {
  background-color: #0ca87b;
  color: #fff;
}

.btn:hover {
  background-color: #87edcf;
}

.message-form {
  background-image: linear-gradient(#87edcf, white);
}

.test-image {
  background: #000000;
  background: rgba(0, 0, 0, 0.2);
}

.carousel-inner {
  height: 750px;
  background: #000000;
  background: rgba(0, 0, 0, 0.2);
}

.form-2 {
  margin-left: 20px;
  margin-right: 25px;
}

.cta {
  text-align: center;
  font-size: 3.5rem;
  padding: 10% 12% 15%;
  background-image: linear-gradient(#87edcf, white);
}

.back {
  background-color: #87edcf;
  margin-bottom: 0;
}

.contact {
  color: #0ca87b;
  padding-top: 8%;
  margin-left: 100px;
  font-size: 3.5rem;
}

.para {
  font-size: 15px;
  line-height: 1;
}

.para1 {
  font-size: 15px;
  line-height: 1;
  padding-top: 2%;
}

#about {
  margin-top: 5%;
  padding: 7% 12% 15%;
  background-color: white;
}

.footer{
text-align: center;
padding: 2% 15%;

}
.last:hover{
color:red;
}
.footer-image{
margin : 5px 15px;
}
.face:hover{
color:#3d799c;
}
.in:hover{
color: #f21f82;
}
.tw:hover{
color: #229ff2;
}
.mail:hover{
color: red;
}



/* .about-para{
padding-left: 10%;
padding-right: 10%;
} */
