body{

  background-image: linear-gradient(white,#87edcf, white);
  font-family: 'Luckiest Guy', cursive;
font-family: 'Merriweather', serif;
font-family: 'Recursive', sans-serif;
font-family: 'Rowdies', cursive;
font-family: 'Ubuntu', sans-serif;
}
.lesson{

  padding:150px 12% 15%;
}

table, td, th {
  border: 1px solid black;
  background-color: white;
  line-height: 3.5rem;
}

table {
  border-collapse: collapse;
  width:60%;
  margin: auto;

}

td {
  text-align: center;
  font-size: 1.5rem;
  line-height: 3.2rem;
}
button{
  width:110px;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  }
