
    .span {
        font-weight: bold;
        font-style: italic;
    }
    /** The Class - pop-out **/
body{
  overflow: hidden;
}
    .success {
        width: 100%;
        height: 200px;
        background-color: bisque;
    }
    /* .tut:hover {
        border: 2px solid;
    } */

    .tut {
        width: 380px;
        height: 380px;
        margin-left: 140px;
    }

    .psi {
        padding-top: 35px;
    }

    .pixel {
        opacity: 0.7;
        position: absolute;
        width: 100%;
        height: 1500px;
        z-index: -1;
    }

    .new {
        margin-bottom: 20px;
        width: 220px;
        height: 50px;
        border: none;
        border-radius: 2px;
        color: #FFF;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        transition: 0.2s ease;
        cursor: pointer;
    }

    .new:hover {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
        transition: 0.2s ease;
    }

    .background {
        position: absolute;
        top: 0;
        left: 0;
    }

    .bt {
        margin-left: 250px;
    }

    .intro {
        margin-left: 20px;
    }

    .intro1 {
        padding-right: 200px;
        font-size: 2.2rem;
        height: 315px;

        padding-top: 1%;
        border: 2px solid;
        border-color: cadetblue;
        border-radius: 5%;
    }
    .intro2 {
        padding-right: 200px;
        font-size: 2.2rem;
        height: 315px;

        padding-top: 0;


        border-radius: 5%;
    }

    .icon {
        border-radius: 100%;
    }

    #start {

        padding: 12% 7% 5%;
    }

    .navclass {
        font-family: 'Ubuntu', sans-serif;
        font-size: 3.5rem;
    }

    .dp {
        background-color: #0ca87b;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 8px;
    }

    .dp:hover {
        background-color: white;
        color: black;
        border: 2px solid #0ca87b;
    }

    .contact-form {
        padding-top: 15%;
    }

    .logo1 {
        width: 40px;
        height: 50px;
        margin-right: 2px;
        padding-bottom: 5px;
    }

    .logo {
        border-radius: 100%;
    }

    .contact2 {
        margin-left: 250px;
        color: #0ca87b;
        font-size: 3.5rem;
    }

    .first {
        text-align: justify;
        color: black;
        font-size: 1.9rem;
    }

    .first-1 {
        text-align: right;
        color: black;
        font-size: 2rem;
        font-weight: bold;
    }

    .form-group {
        border: 3px solid #0ca87b;
        border-radius: 10px;
    }

    .form-3 {
        text-align: left;
    }

    .abc {
        color: #3a4be0;
        font-weight: bold;
    }

    .first-2 {
        text-align: justify;
        color: black;
        font-size: 4rem;
        font-weight: bold;
    }

    #form {
        padding-left: 5%;
    }

    .message {
        padding: 1% 12% 15%;
    }

    .form-1 {
        padding: 5% 8% 15%;
    }

    .btn {
        background-color: #0ca87b;
        color: #fff;
    }

    .btn:hover {
        background-color: #87edcf;
    }

    .test-image {
        background: #000000;
        background: rgba(0, 0, 0, 0.2);
    }

    .form-2 {
        margin-left: 20px;
        margin-right: 25px;
    }

    .cta {
        text-align: center;
        font-size: 3.5rem;
        padding: 10% 12% 15%;
        background-image: linear-gradient(#87edcf, white);
    }

    .back {
        background-color: #87edcf;
        margin-bottom: 0;
    }

    .contact {
        color: #0ca87b;
        padding-top: 8%;
        margin-left: 100px;
        font-size: 3.5rem;
    }

    .para {
        font-size: 15px;
        line-height: 1;
    }

    .footer {
        text-align: center;
        font-size: 10px;
        padding-top: 0;
        margin-bottom: -90px;
    }

    .footer-image {
        margin-right: 10px;
    }
    .cli{
      color:white;
    }
    .cli:hover{
      color: white;
    }
    .new3:hover{
      color: white;
    }

.introduction  {
  position: fixed;
  z-index: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #66d194;
  transition: 1s;
}
.log-header{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 3rem;

}
.log{
  position: relative;
  display: inline-block;
  bottom: -20px;
  opacity: 0;
}
.log.active{
  bottom: 0;
  opacity: 1;
  transition: ease-in-out 0.5s;
}
.log.fade{
  bottom:150px;
  opacity: 0;
  transition: ease-in-out 0.5s;

}


.soft:hover{
  transition: rotate(45deg);
}

.bouncing-text {
  position: relative;
  display: flex;
  font-size: 70px;
  font-weight: 900;
  font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
}

.b, .o, .u, .n, .c, .e {
  position: relative;


}

.b {
  animation: bounce 3s ease infinite;
animation-timing-function: linear;
  -webkit-animation: bounce 1s ease infinite;
}

.o {
  animation: bounce 1s ease infinite .1s;
  -webkit-animation: bounce 1s ease infinite .1s;
}

.u {
  animation: bounce 1s ease infinite .2s;
  -webkit-animation: bounce 1s ease infinite .2s;
}

.n {
  animation: bounce 1s ease infinite .3s;
  -webkit-animation: bounce 1s ease infinite .3s;
}

.c {
  animation: bounce 1s ease infinite .4s;
  -webkit-animation: bounce 1s ease infinite .4s;
}

.e {
  animation: bounce 1s ease infinite .5s;
 -webkit-animation: bounce 1s ease infinite .5s;
}

 @keyframes bounce {
        0%   { transform: scale(1,1) translateY(0); }
        10%  { transform: scale(1.1,.9) translateY(0); }
        30%  { transform: scale(.9,1.1)   translateY(-55px);}
        50%  { transform: scale(1.05,.95) translateY(0); }
        58%  { transform: scale(1,1) translateY(-7px); }
        65%  { transform: scale(1,1) translateY(0);}
        100% { transform: scale(1,1) translateY(0);}
    }

@-webkit-keyframes bounce {
       0%   { transform: scale(1,1) translateY(0); }
        10%  { transform: scale(1.1,.9) translateY(0); }
        30%  { transform: scale(.9,1.1)   translateY(-55px);}
        50%  { transform: scale(1.05,.95) translateY(0); }
        58%  { transform: scale(1,1) translateY(-7px);}
        65%  { transform: scale(1,1) translateY(0);}
        100% { transform: scale(1,1) translateY(0);}
}


.bouncing-text:before, .bouncing-text:after {

  position: absolute;
  background-color: rgba(0,0,0,0.4);
  width: 50px;
  height:5px;
  border-radius:50%;
  top:82px;
  z-index:-1;
}

.shadow, .shadow-two {
  position: absolute;
  top:82px;
  z-index:-1;
}

.shadow:before, .shadow:after, .shadow-two:before, .shadow-two:after {

}

.bouncing-text:before {
  left:0;
  animation: scale 1s linear infinite;
  -webkit-animation: scale 1s linear infinite;
}

@keyframes scale {
  0% {transform: scaleX(1);}
  25% {transform: scaleX(0.4);}
  50% {transform: scaleX(1);}
  75% {transform: scaleX(0.9);}
  100% {transform: scaleX(1);}
}

@-webkit-keyframes scale {
   0% {transform: scaleX(1);}
  25% {transform: scaleX(0.4);}
  50% {transform: scaleX(1);}
  75% {transform: scaleX(0.9);}
  100% {transform: scaleX(1);}
}

.bouncing-text:after {
  left: 57px;
  animation: scale 1s linear infinite .1s;
  -webkit-animation: scale 1s linear infinite .1s;
}

.shadow:before {
  left: 116px;
  animation: scale 1s linear infinite .2s;
  -webkit-animation: scale 1s linear infinite .2s;
}

.shadow:after {
  left:175px;
  animation: scale 1s linear infinite .3s;
  -webkit-animation: scale 1s linear infinite .3s;
}

.shadow-two:before {
  left:232px;
  animation: scale 1s linear infinite .4s;
  -webkit-animation: scale 1s linear infinite .4s;
}

.shadow-two:after {
  left: 285px;
  animation: scale 1s linear infinite .5s;
  -webkit-animation: scale 1s linear infinite .5s;
}
Run Pen


R







    /* .about-para{
  padding-left: 10%;
  padding-right: 10%;
  } */
